.claude/
.codex/
bin/
!/bin
node_modules/

packages/*/lib/
packages/*/dist/
toolchain/*/lib/
tests/*/bin/
toolchain-tests/*/bin/
toolchain/ttsc/native/
toolchain-tests/test-typia-ttsc/fixtures/*/dist/
toolchain-tests/test-typia-ttsc/fixtures/*/build/output/
wiki/memo/

package-lock.json
!experiments/setup/package-lock.json

*.env
*.log
*.tgz
third_party/
