.git/
.github/
.vscode/
assets/
bin/
benchmark/
node_modules/
test/

*.*ignore
.eslintrc.cjs
.prettierignore
package-lock.json
prettier.config.js
tsconfig.json
tsconfig.benchmark.json
tsconfig.test.json