name: build
on: 
  pull_request:
    paths:
      - 'src/**'
      - 'test/**'
      - 'test-error/**'
      - 'test-esm/**'
      - 'package.json'
      - 'tsconfig.json'
      - 'rollup.config.js'
      - '.github/workflows/build.yml'
jobs:
  Build-and-Upload-to-pkg-pr-new-and-artifactory:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 #v4
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 #v4
        with:
          node-version: lts/*
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - run: pnpm install --force
      - run: pnpm run build
      - name: remove `private=true` from package.json
        run: |
          npm pkg delete private
      - name: upload to pkg.pr.now
        run: npx pkg-pr-new publish --compact
      - name: Upload tgz for Artifactory
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 #v4
        with:
          name: build-result
          path: |
            *.tgz
            src
            lib

  Check-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 #v4
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 #v4
        with:
          node-version: lts/*
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - run: pnpm install --force
      - run: pnpm run eslint

  NodeJS:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x, lts/*]
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 #v4
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 #v4
        with:
          node-version: ${{ matrix.node-version }}
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - run: pnpm install --force
      - run: pnpm run build
      - run: pnpm run test

  action-timeline:
    needs:
      - Build-and-Upload-to-pkg-pr-new-and-artifactory
      - Check-format
      - NodeJS
      # - Bun
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - uses: Kesin11/actions-timeline@v2
