name: build
on: 
  pull_request:
    paths:
      - '.github/workflows/build.yml'
      - 'internals/config/**'
      - 'packages/*/src/**'
      - 'packages/*/package.json'
      - 'packages/*/rollup.config.mjs'
      - 'pnpm-lock.yaml'
      - 'pnpm-workspace.yaml'
      - 'package.json'
jobs:
  Ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24.x
      - uses: pnpm/action-setup@v4
      
      - name: Install Dependencies
        run: pnpm install

      - name: Build Packages
        run: pnpm run build