name: spell-check
on:
  pull_request:

jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 #v4

      - uses: crate-ci/typos@master
        with:
          config: ./typos.toml
