name: test
on: 
  pull_request:
    paths:
      - '.github/workflows/build.yml'
      - 'packages/*/src/**'
      - 'packages/*/package.json'
      - 'tests/*/test-*/**'
      - 'tests/*/test-*/package.json'
      - 'package.json'
      - 'pnpm-lock.yaml'
      - 'pnpm-workspace.yaml'
jobs:
  Ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - uses: pnpm/action-setup@v4
      
      - name: Install Dependencies
        run: pnpm install

      - name: Build for Automated Tests
        run: pnpm run build

      - name: Run Tests
        run: pnpm run test