name: website
on: 
  push: 
    branches:
      - master
    paths:
      - .github/workflows/website.yml
      - 'examples/**'
      - 'website/**'
      - 'website/package.json'
  pull_request:
    paths:
      - .github/workflows/website.yml
      - 'examples/**'
      - 'website/**'
      - 'website/package.json'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 #v4
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 #v4
        with:
          node-version: 20.x
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Root
        run: |
          pnpm install
          pnpm run package:tgz
      - name: Build
        working-directory: website
        run: |
          npm install --force
          npm run build
      - name: Deploy
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: ./website/out